/*
*
* Copyright (c) 2021 lowprokb.ca
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define NIZ 0
#define NAV 1
#define SYM 2
#define NUM 3
#define MED 4

&kscan0 {
        debounce-period = <10>;
};


//                KEY POSITIONS - 6 Col Zen
  //╭─────────────────────────╮ ╭────────────────────────╮
  //│  0   1   2   3   4   5  │ │  6   7   8   9  10  11 │
  //│ 12  13  14  15  16  17  │ │ 18  19  20  21  22  23 │
  //│ 24  25  26  27  28  29  │ │ 30  31  32  33  34  35 │
  //╰───────────╮ 36  37  38  │ │ 39  40  41 ╭───────────╯
  //            ╰─────────────╯ ╰────────────╯            */


/ {
   combos {
     compatible = "zmk,combos";

       COMBO(med_mo, &tog NUM, 37 38)
       COMBO(enter, &kp RET, 19 20)
       COMBO(tab, &kp TAB, 15 16)
       COMBO(quote, &kp SQT, 18 19)
       COMBO(esc, &kp ESC, 16 17)
       COMBO(leftpar, &kp LEFT_PARENTHESIS, 3 4)
       COMBO(rightpar, &kp RIGHT_PARENTHESIS, 7 8)
    };



    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

//         ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//
//         ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
//
//         ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
//
//         ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
//
//                                                   ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯

     keymap { 
            compatible = "zmk,keymap";

            base_layer {
                label = "NIZ";
                bindings = <
      // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
            &kp K_MUTE    &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P          &kp TILDE
      // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
            &kp C_VOL_UP  &hm LSHFT A   &hm LALT S    &hm LCTRL D   &hm LGUI F    &kp G             &kp H         &hm LGUI J   &hm LCTRL K    &hm LALT L    &hm LSHFT SEMI &kp SQT
      // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
            &kp C_VOL_DN  &hm LSHFT Z   &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH       &kp LSHFT
      // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                       &kp LSHFT    &sl 3         &lt 1 SPACE     &mt LSHIFT BSPC &sl 2         &kp ENTER
      //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

        number_layer {
            label = "NAV";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &trans        &kp N1        &kp N2        &kp N3        &kp N4        &kp N5            &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp TILDE
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &trans        &trans        &trans        &trans        &trans        &trans            &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &trans        &trans 
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &kp LSHFT     &kp Z         &kp X         &kp C         &kp V         &trans            &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       &trans        &trans
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                       &trans        &trans        &trans            &kp BSPC      &kp DEL       &kp ENTER
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

        symbol_layer {
            label = "SYMBOL";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &trans        &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT         &kp CARET     &kp AMPS      &kp ASTRK     &kp LPAR      &kp RPAR      &kp BSLH
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &mo 4         &kp F11       &kp F12       &trans        &kp GRAVE     &trans            &kp MINUS     &kp EQUAL     &kp LPAR      &kp RPAR      &kp TILDE     &kp PIPE     
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &kp LSHFT     &kp F1        &kp F2        &kp F5        &kp F6        &kp F10           &kp UNDER     &kp PLUS      &kp LBKT      &kp RBKT      &kp LBRC      &kp RBRC
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                       &trans        &trans        &kp SPACE         &kp BSPC      &kp DEL       &kp ENTER
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

        pad_layer {
          label = "NUM";
          bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &trans        &trans        &trans        &trans        &trans        &trans            &none         &kp N7        &kp N8        &kp N9        &kp PLUS      &kp ASTRK   
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &trans        &kp LGUI(1)   &kp LGUI(2)   &kp LGUI(3)   &kp LGUI(4)   &kp LGUI(5)       &none         &kp N4        &kp N5        &kp N6        &kp MINUS     &kp FSLH     
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &trans        &trans        &trans        &trans        &kp LGUI(6)   &kp LGUI(7)       &none         &kp N1        &kp N2        &kp N3        &kp LPAR      &kp RPAR    
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                       &trans        &trans	     &trans          &trans        &kp N0        &trans   
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        media_layer {
          label = "MEDIA";
          bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &kp K_MUTE    &trans        &trans        &trans        &trans        &trans 
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &trans        &trans        &trans        &trans        &trans        &trans            &kp C_VOL_UP  &kp C_BRI_UP  &trans        &trans        &trans        &trans 
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &trans        &reset        &trans        &trans        &trans        &trans            &kp C_VOL_DN  &kp C_BRI_DN  &trans        &trans        &trans        &trans 
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                       &trans        &trans        &trans            &trans        &trans        &trans
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
  };
