/*
*
* Copyright (c) 2021 lowprokb.ca
* SPDX-License-Identifier: MIT
*
*/

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define NIZ 0
#define NAV 1
#define SYM 2
#define MED 3
#define NUM 4

#define COMBO(NAME, BINDINGS, KEYPOS) \
  combo_##NAME { \
    timeout-ms = <50>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
  };

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick_tap_ms = <200>; };

/ {
   combos {
     compatible = "zmk,combos";

       COMBO(med_mo, &tog NUM_L, 30 31)
       COMBO(fn_mo, &mo FUN_L, 32 33)
       COMBO(enter, &kp RET, 16 17)
       COMBO(tab, &kp TAB, 12 13)
       COMBO(quote, &kp SQT, 15 16)
       COMBO(esc, &kp ESC, 13 14)
       COMBO(leftpar, &kp LEFT_PARENTHESIS, 2 3)
       COMBO(rightpar, &kp RIGHT_PARENTHESIS, 6 7)
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
	    };
    };

        keymap {
            compatible = "zmk,keymap";

            base_layer {
                label = "NIZ";
                bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &kp ESC       &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P         &kp TILDE
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &kp XXX       &hm LSHFT A   &hm LALT S    &hm LCTRL D   &hm LGUI  F   &kp G             &kp H         &hm RGUI J    &hm RCTRL K   &hm LALT L    &hm LSHFT SEMI &kp SQT
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &kp LSHFT     &kp Z         &kp X         &kp C         &kp V         &kp B             &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH      &kp LSHFT
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                       &kp LSHFT     &sl 1         &lt 1 SPACE       &kp BSPC      &sl 2         &kp ENTER
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

        number_layer {
            label = "NAV";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &trans        &kp N1        &kp N2        &kp N3        &kp N4        &kp N5            &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        &kp TILDE
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &trans        &trans        &trans        &trans        &trans        &trans            &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &trans        &trans 
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &kp LSHFT     &kp Z         &kp X         &kp C         &kp V         &trans            &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       &trans        &trans
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                       &trans        &trans        &trans            &kp BSPC      &kp DEL       &kp ENTER
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

        symbol_layer {
            label = "SYM";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &trans        &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT         &kp CARET     &kp AMPS      &kp ASTRK     &kp LPAR      &kp RPAR      &kp BSLH
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &mo 3         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &kp GRAVE     &trans            &kp MINUS     &kp EQUAL     &kp LPAR      &kp RPAR      &kp TILDE     &kp PIPE     
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &kp LSHFT     &kp F1        &kp F2        &kp F5        &kp F6        &kp F10           &kp UNDER     &kp PLUS      &kp LBKT      &kp RBKT      &kp LBRC      &kp RBRC
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                       &kp LCTRL      &kp LGUI     &kp SPACE         &kp BSPC      &kp DEL       &kp ENTER
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };

        media_layer {
          label = "MED";
          bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &kp K_MUTE    &trans        &trans        &trans        &trans        &trans 
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &trans        &trans        &trans        &trans        &trans        &trans            &kp C_VOL_UP  &kp C_BRI_UP  &trans        &trans        &trans        &trans 
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &trans        &trans        &trans        &trans        &trans        &trans            &kp C_VOL_DN  &kp C_BRI_DN  &trans        &trans        &trans        &trans 
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                       &trans        &trans	     &trans            &trans        &trans        &trans   
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };


        symbol_layer {
            label = "NUM";
            bindings = <
        // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
             &trans        &kp EXCL      &kp AT        &kp HASH      &kp DLLR      &kp PRCNT         &kp CARET     &kp AMPS      &kp ASTRK     &kp LPAR      &kp RPAR      &kp BSLH
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &mo 3         &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &kp GRAVE     &trans            &kp MINUS     &kp EQUAL     &kp LPAR      &kp RPAR      &kp TILDE     &kp PIPE     
        // ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤─────────────┤
             &kp LSHFT     &kp F1        &kp F2        &kp F5        &kp F6        &kp F10           &kp UNDER     &kp PLUS      &kp LBKT      &kp RBKT      &kp LBRC      &kp RBRC
        // ╰─────────────┴─────────────┴─────────────┴─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┤─────────────╯
                                                       &kp LCTRL      &kp LGUI     &kp SPACE         &kp BSPC      &kp DEL       &kp ENTER
        //                                           ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
      >;
    };
   };
};
